* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input {
	background: none;
	outline: none;
	border: none;
}

button {
	margin: 0;
	padding: 0;
	border: 1px solid transparent;
	outline: none;
	border-color: transparent;
	box-shadow: none;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	width: 100%;
	height: 100%;
}

body > div {
	width: 100%;
	height: 100%;
}

.cal-wrapper{
	display: flex;
	height: 100%;
	flex-direction: column;
	background-color: #000000;
}

.show-wrapper {
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-end;
	height: 30%;
	margin-bottom: 1rem;
}

.show {
	padding-left: 1rem;
	padding-right: 1rem;
	color: #ffffff;
	font-size: 5.5rem;
	height: 5.5rem;
	width: 100%;
	text-align: right;
}

.key-wrapper {
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 4.5rem 1.5rem;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.col {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 4.5rem;
	width: 4.5rem;
	border-radius: 50%;
	font-size: 2rem;
	color: #ffffff;
	background-color: #000000;
}

.last-row {
	display: grid;
	grid-template-columns: repeat(4, 4.5rem);
	justify-content: space-between;
}

.zero {
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 3;
	border-radius: 2.25rem;
}

.number-btn {
	background-color: rgb(52, 52, 52);
}

.function-btn {
	color: #000000;
	background-color: rgb(146, 146, 146);
}

.equal,
.operator {
	background-color: rgb(247, 159, 49);
}

/* 调整显示屏字体大小 */
.active7 {
	font-size: 4.5rem;
}

.active8,
.activeError {
	font-size: 4rem;
}

.active9 {
	font-size: 3.6rem;
}

.checkedFunction {
	background-color: #dddddd;
}

.checkedNumber {
	background-color: #666666;
}

.checkedOperator {
	color: rgb(247, 159, 49);
	background-color: #ffffff;
}

.checkedEqual {
	background-color: #ffcc00;
}

@media (min-width: 1025px) {
	body {
		display: flex;
	}

	.cal-wrapper {
		width: 375px;
		height: 812px;
	}
}

@media(max-height: 736px) {
	.key-wrapper {
		padding: 2rem 1.5rem;
	}
}

@media(max-height: 568px) {
	.key-wrapper {
		padding: 1.5rem;
	}

	.col {
		width: 3.8rem;
		height: 3.8rem;
	}

	.last-row {
		grid-template-columns: repeat(4, 3.8rem);
	}

	.zero {
		width: 100%;
	}
}